body {
    font-family: Arial;
    text-align: center;
    background: #f4f4f4;
}

.chat-box {
    width: 60%;
    height: 300px;
    margin: 20px auto;
    background: white;
    border: 1px solid #ccc;
    overflow-y: scroll;
    padding: 10px;
    text-align: left;
}

input {
    padding: 8px;
    width: 300px;
}

button {
    padding: 8px 15px;
    cursor: pointer;
}
